/appserver/appclient/client/acc-config/temp/
appserver/packager/pkg_conf.py
/appserver/packager/pkg_conf.py
/payara/
.classpath
.project
.settings/
.factorypath
target/
*~
*.iml
*nbactions.xml
.vscode/
.idea
.DS_Store
gfbuild.log
nb-configuration.xml
/appserver/tests/quicklook/classes/
/appserver/tests/quicklook/dist/
/appserver/tests/quicklook/test-output/
/appserver/tests/quicklook/*.output
/appserver/tests/quicklook/**/*.war
*.log
appserver/extras/arquillian-containers/payara-common/dependency-reduced-pom.xml
appserver/tests/quicklook/quicklook_summary.txt
**/nbproject
