/appserver/appclient/client/acc-config/temp/
appserver/packager/pkg_conf.py
/appserver/packager/pkg_conf.py
/payara/
.classpath
.project
.settings/
.factorypath
target/
*~
*.iml
*nbactions.xml
.vscode/
.idea
.DS_Store
.sdkmanrc
gfbuild.log
nb-configuration.xml
/appserver/tests/quicklook/classes/
/appserver/tests/quicklook/dist/
/appserver/tests/quicklook/test-output/
/appserver/tests/quicklook/*.output
/appserver/tests/quicklook/**/*.war
*.log
appserver/extras/arquillian-containers/payara-common/dependency-reduced-pom.xml
appserver/tests/quicklook/quicklook_summary.txt
**/nbproject
.flattened-pom.xml
**/__pycache__
appserver/packager/legal/src/main/resources/glassfish/legal/3RD-PARTY-LICENSE.txt
/appserver/tests/payara-samples/samples/data/.claude/settings.local.json
