html,
html *,
.panel-default>.panel-heading,
.panel {
	background: transparent;
	color: #fff;
}
html {
	margin: 0;
	padding: 0;
}
body {
	padding: 20px;
}
.appTittle[_ngcontent-c0] {
	margin-left: 0;
	color: #fff;
}
.appTittle .username {
	color: rgba(255,255,255,0.5);
	padding-top: 10px;
}
.panel {
	font-size: 13px;
}
.panel-body {
	padding: 0;
	margin-top: 30px;
}
.panel-heading {
	padding: 0;
	border-radius: 0;
	overflow: hidden;
}

/* To fix some non-clearing issues. */
.app_header {
	overflow: hidden;
}

h1, h2, h3 {
	text-align: left;
}
h5 {
	text-decoration: none !important;
}

.alert {
	padding: 20px;
	border-radius: 0;
}
.alert-info {
	background: #0D3647 !important;
	border: none;
}
.alert-danger {
	border: none;
	background: #ff4b00;
}

/* BUTTONS */
.btn,
app-comment-data a {
	border: none;
	text-shadow: none;
	font-size: 13px !important;
	padding: 12px 15px !important;
	border-radius: 8px !important;
	width: auto;
	display: inline-block;
	background: #1A4151 !important;
	color: #fff !important;
}
.btn:hover,
app-comment-data a:hover {
	background: #315462 !important;
	color: #fff;
	text-shadow: none;
}

.btn[target="_blank"] {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkFCNDg1QjE5MEU2MDExRTg5OEM3RTMxMTRGN0Y1ODkwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkFCNDg1QjFBMEU2MDExRTg5OEM3RTMxMTRGN0Y1ODkwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QUI0ODVCMTcwRTYwMTFFODk4QzdFMzExNEY3RjU4OTAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QUI0ODVCMTgwRTYwMTFFODk4QzdFMzExNEY3RjU4OTAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz56fCeyAAAAPklEQVR42oyMAQoAIAwCLfZwf24QDaRWdCBzcAhJKEIZeIQu7bhAl6oF5l9JLswETtq6yt7xwZcUNn1lCDAA3ySbd50fZ18AAAAASUVORK5CYII=) !important;
	background-repeat: no-repeat !important;
	background-position: right 0 !important;
	border-radius: 8px 0px 8px 8px !important;
}

.btn-primary,
h3 .btn[type="submit"] {
	background: #F0981B !important;
}
.btn-primary:hover,
h3 .btn[type="submit"]:hover {
	background: #F1A232 !important;
}

.btn[disabled] {
	font-style: italic;
}

app-list-tickets .col-sm-4 .btn {
	padding: 4px 10px !important;
	background: #315462 !important;
	color: #ccc !important;
	color: rgba(255,255,255,0.5) !important;
	border-radius: 0 8px 8px 0 !important;
	margin-left: 0 !important;
}
app-list-tickets .col-sm-4 .btn.active {
	color: #fff !important;
}
app-list-tickets .col-sm-4 .btn:first-child {
	border-radius: 8px 0 0 8px !important;
	margin-right: 1px;
}

h3 .btn {
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 10px !important;
}

.btn + .btn {
	margin-left: 6px !important;
}

/* FORM ELEMENTS */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	background: #fff !important;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25) !important;
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25) !important;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25) !important;
	padding: 5px !important;
	border: none;
	border-radius: 0 !important;
	font-size: 13px !important;
}
select {
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAABG2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS41LjAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+Gkqr6gAAAYJpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAACiRdZHfK4NRGMc/2zAxTVEoF0u42sTU4kaZhJLWTPl1s732Q+3H2/tuablVbhUlbvy64C/gVrlWikjJhSvXxA3r9bzbapI9p+c8n/M953k65zlgDSWVlF7TD6l0VgtO+F3zC4su+wtW2nDQQV1Y0dXRQGCaqvZ5j8WMtx6zVvVz/1rjSlRXwFIvPKKoWlZ4Unh6LauavCPcqiTCK8Jnwm5NLih8Z+qREr+aHC/xt8laKDgG1mZhV/wXR36xktBSwvJyulPJnFK+j/kSRzQ9NyuxS7wTnSAT+HExxThj+BhgWGYfHrz0yYoq+f3F/BkykqvIrJJHY5U4CbK4Rc1J9ajEmOhRGUnyZv//9lWPDXpL1R1+qH02jPcesG9DYcswvo4Mo3AMtie4TFfyM4cw9CH6VkXrPgDnBpxfVbTILlxsQvujGtbCRckmbo3F4O0Umhag5QYalko9K+9z8gChdfmqa9jbh14571z+AQS6Z7kmh+GJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAnklEQVQokY3NMQrCQBQE0PmprUKKNIKVWBgvEDA5weYCejQre8EF7+KSYmGrtGHTj4VEZBPdDPxqmP/EWOd36rwiiTAigqe+DtvN+iQi9+8uybO0U3U5GQGAqkvkWdoB0JOSZGOs81JUxP74OSkqGus8yWbuaQJAz6l/tV9qTBtFhOoiLVSTQx3VwqH0fmgvtwd7P7QkZdFwVPlOVHsBMYNr6i+u6M8AAAAASUVORK5CYII=) no-repeat right center !important;
	-webkit-box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
	-moz-box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
	box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
	border: none !important;
	-webkit-appearance: none;
	padding: 5px 50px 5px 5px !important;
	border-radius: 0 !important;
	font-size: 13px !important;
}
select[multiple="multiple"] {
	background: #fff;
	padding-right: 5px;
}

.form-signin {
	padding-bottom: 20px;
}
.form-signin .form-control {
	max-width: 25em;
	margin-left: auto;
	margin-right: auto;
}
.form-signin input[type="password"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

label:after {
	color: #F0981B !important;
}

/* TABLES */
.table thead th {
	padding: 10px 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	background: #335664;
	border-bottom-color: #002C3E !important;
}
.table th, 
.table td {
	padding: 10px 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	background: #0D3647;
	border-bottom-color: #002C3E; 
}

app-list-tickets .col-sm-2,
app-list-tickets .col-sm-4,
app-list-tickets .col-sm-6 {
	background: #0D3647;
	padding: 10px;
	margin-bottom: 2px;
 	height: 46px;	/* Really hacky but there's no surrounding container to flexbox align this. */
}

app-comment-data a {
	padding: 4px 10px !important;
}
app-comment-data a span {
	background: transparent !important;
}

.commentContainer .row {
	background: #0D3647;
	padding: 10px 20px;
	margin-bottom: 2px;
	font-size: 13px;
}
.commentContainer hr {
	display: none;
}
.commentContainer .comment_box {
	box-shadow: none;
	border: solid 1px rgba(255,255,255,0.25);
	border-radius: 0;
	padding: 0 10px 10px 10px;
	margin: 0;
}

.commentContainer, 
.detailContent {
	font-size: 13px;
}

.btn .glyphicon {
	padding-left: 3px;
	padding-right: 3px;
}
.glyphicon.glyphicon-flag {
	border: none;
	border-radius: 0;
	background: #000;
	background: rgba(0,0,0,0.5);
	padding: 5px;

}
.glyphicon.glyphicon-flag:before {
	margin-left: 0 !important;
}

.detailContent {
	border: none !important;
}
.detailContent hr {
	display: none;
}
.detailContent h5 {
	border-bottom: solid 2px rgba(255,255,255,0.25);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.closeMessage {
	text-shadow: none;
	padding-right: 20px
}

.form-group label {
	padding-left: 0;
	padding-top: 8px;
}

.col-xs-12[_ngcontent-c7] {
	margin-top: 20px;
}

/* New ticket form. */
app-new-ticket .col-xs-8, 
app-new-ticket .col-xs-4 {
	margin-top: 40px;
} 
app-new-ticket .col-xs-4 {
	text-align: left;
}
app-new-ticket .col-xs-4 strong {
	border-bottom: solid 2px rgba(255,255,255,0.25);
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
app-new-ticket .col-xs-4 > div {
	margin-left: 1.5em;
}
app-new-ticket .col-xs-4 a span {
	position: relative;
	background: transparent !important;
}
app-new-ticket .col-xs-4 a span:before {
	position: absolute;
	left: -1.5em
}

.bootstrap-switch {
	border: none;
	margin-top: 5px;
}
.bootstrap-switch .bootstrap-switch-label {
	background: #1A4151;
	color: #fff;
	border-radius: 0 !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
	color: #fff;
	background: #ff4b00;
}

.add-file-server-button {
	height: auto !important;
}

.col-xs-12 hr {
	display: none;
}

/* NEW TICKET > DOMAIN.XML > IFRAME */
.group-border.domain-block {
	background: #000;
	background: rgba(0,0,0,0.3);
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
}
.domain-block h5 {
	margin-top: 10px;
}
.domain-block .panel-body {
	margin-top: 0;
}
.group-border.domain-block .mce-panel {
	padding: 5px;
	background: transparent;
	border: none;
}
.domain-block .col-xs-8, 
.domain-block .col-xs-4 {
	width: 100%;
	color: #fff;
}
.domain-block .panel-footer[_ngcontent-c3] {
	background: transparent;
	padding: 0;
}
.domain-block .panel-footer[_ngcontent-c3] .btn {
	margin-left: 6px;
}

.attached-file[_ngcontent-c3] {
	height: auto;
	white-space: normal;
	text-align: left;
}

span.sr-only[_ngcontent-c3] {
	color: #fff;
}

.attached-list[_ngcontent-c6] {
	float: none;
}
.attached-file-list[_ngcontent-c6],
.attached-file-list[_ngcontent-c6] span[_ngcontent-c6] {
	background: transparent !important;
}