<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-1.2</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>
    
    <!-- Makes sure key.jks can be used for MP-JWT Auth -->
    <keyStore id="defaultKeyStore" password="keyspass"/> 
    
    <!-- This defines the MP-JWT Auth config, 
         The mandatory issuer that has to match the one in the JWT token.
         For Liberty, one the audiences strings has to match as well with the one in the JWT token
    -->
    <mpJwt id="mpJwt" issuer="org.eclipse.microprofile12" audiences="s6BhdRkqt3" />
   
    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>


</server>
